.header {
  position: fixed;
  display: flex;
  min-height: 100px;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  color: white;
  justify-content: space-around;
  align-items: center;
  z-index:99;

  .header_logo {
    left: 375.79px;
    top: 33.5px;
    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;

    .header_logo_blue {
      color: #42A9ED
    }
  }

  .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_menu_item {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: right;
      text-transform: uppercase;
      list-style-type: none;
      color: #FFFFFF;
      margin-right: 60px;
      &:hover{
        color: #43ABF0;
        cursor: pointer;
      }
    }
  }
}



