.main {
  //max-width: 100%;
  background-image: url("../images/mainimg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: start;
  padding: 170px 0;
  background-position: 26%;

  li {
    list-style-type: none;
    margin-left: 0;
  }

  ul {
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  .main_text {
    max-width: 1172px;
    max-height: 444px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    justify-content: start;
    width: 1172px;

    .main_text_title {
      max-width: 780px;
      max-height: 125px;
      top: 203px;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;
      color: #3E9CDC;
      text-align: left;

      .main_text_title_black {
        color: black;
      }
    }

    .main_buttonBlock {
      display: flex;
      margin-top: 80px;

      .main_main_buttonBlock_button1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        gap: 10px;
        width: 183px;
        height: 43px;
        left: 376px;
        top: 604px;
        background: #3E9CDC;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
          background: #275e83;
        }
      }

      .main_main_buttonBlock_button2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        gap: 10px;
        width: 183px;
        height: 43px;
        left: 376px;
        top: 604px;
        background: #FFFFFF;
        border: 1px solid #6F6D7B;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        &:hover{
          border: 3px solid black;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .main_text {
      .main_text_title {
        font-weight: 600;
        font-size: 40px;
        line-height: 38px;
      }
    }
  }
  @media (max-width: 1200px) {
    .main_text {
      max-width: 965px;
    }
  }
  @media (max-width: 1200px) {
    .main_text {
      width: auto;
    }
  }
  @media (max-width: 800px) {
    .main_text {
      max-width: 500px;

      .main_text_title {
        font-weight: 600;
        font-size: 30px;
        //line-height: 28px;
      }
    }
  }
  @media (max-width: 600px) {
    .main_text {
      max-width: 400px;

      li {
        font-size: 16px;
      }

      .main_text_title {
        font-size: 25px;
      }
    }
  }
  @media (max-width: 450px) {
    .main_text {
      max-width: 300px;

      li {
        font-size: 16px;
      }

      h3 {
        font-size: 18px;
      }

      .main_text_title {
        //font-weight: 500;
        font-size: 20px;
        line-height: 19px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .main {
    background-position: 60%;
  }
}

