
.main {
  width: 100%;

  left: 0;
  top: 0;
  background-image: url("../images/mainimg.png");

  background-position: 26%;
  height: 100vh;
  min-height: 937px;
  background-size: cover;


  li {
    list-style-type: none;
    margin-left: 0;

  }

  ul {
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  .main_text {
    position: absolute;
    width: 780px;
    height: 444px;
    left: 375px;
    top: 203px;
    text-align: left;
    font-family: 'Lato', sans-serif;

    .main_text_title {
      width: 780px;
      height: 125px;
      left: 375px;
      top: 203px;

      font-family: 'Lato', sans-serif;

      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;
      color: #3E9CDC;
      text-align: left;

      .main_text_title_black {
        color: black;
      }
    }

    .main_buttonBlock {
      display: flex;
      margin-top: 80px;

      .main_main_buttonBlock_button1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        gap: 10px;
        width: 183px;
        height: 43px;
        left: 376px;
        top: 604px;
        background: #3E9CDC;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        cursor: pointer;
      }

      .main_main_buttonBlock_button2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        gap: 10px;
        width: 183px;
        height: 43px;
        left: 376px;
        top: 604px;
        background: #FFFFFF;
        border: 1px solid #6F6D7B;
        border-radius: 4px;
        color: black;
        cursor: pointer;
      }
    }
  }
}

