.order{
  //position: absolute;
  min-width: 100%;
  min-height: 100vh;
  left: 0;
  top: -50.58px;
  background: rgba(16, 16, 29, 0.9);
  background-repeat: no-repeat;
  background-size: contain;
  //opacity: 90%;
  background-image: url("../images/wordmap.png");
}