.order {
  max-width: 100%;
  height: 100vh;
  //max-height: 1000px;
  left: 0;
  top: -50.58px;
  padding-top: 50px;
  background: rgba(16, 16, 29, 0.9);
  background-repeat: no-repeat;
  background-size: contain;
  //opacity: 90%;
  background-image: url("../images/wordmap.png");
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: auto;

  .order_box {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: auto;

    .order_box_text {
      text-align: center;
      justify-content: center;
      height: 94px;

      .order_box_text_title {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;

        .order_box_text_titleBlue {
          color: #3E9CDC;
        }
      }
      @media (max-width: 900px) {
        .order_box_text_title  {
          font-size: 30px;
        }
      }
      @media (max-width: 650px) {
        .order_box_text_title  {
          font-size: 25px;
        }
      }

      .order_box_text_small {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        color: #BBBBBB;
        margin-top: 30px;
      }
      @media (max-width: 900px) {
        .order_box_text_small  {
          font-size: 15px;
        }
      }

    }

    .order_box_scheme {
      display: flex;
      //flex-direction: row;
      justify-content: center;
      align-items: center;
      //padding: 0;
      gap: 20px;


      .order_box_scheme_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        max-width: 209px;
        max-height: 164.37px;

        .order_box_scheme_item_circle {
          width: 60px;
          height: 60px;
          left: 54.5px;
          top: 0;
          background: #3E9CDC;
          border: 5px solid #286690;
          border-radius: 50%;
          margin-top: 0;
          margin-bottom: 20px;
          justify-content: center;
          align-items: center;
          display: flex;

        }
        @media (max-width: 800px) {
          .order_box_scheme_item_circle  {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
          }
        }

        .order_box_scheme_item_text {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;
          max-width: 189px;
          max-height: 44.37px;
        }
        @media (max-width: 650px) {
          .order_box_scheme_item_text {
            font-size: 13px;
          }
        }
      }
      @media (max-width: 800px) {
        .order_box_scheme_item  {
          max-width: 100px;
        }
      }
      @media (max-width: 650px) {
        .order_box_scheme_item  {
          max-width: 100px;
        }
      }
    }
    @media (max-width: 685px) {
      .order_box_scheme  {
        gap: 10px;
        flex-wrap: wrap;
      }
    }

    .order_box_form {
      max-width: 1172px;
      //max-height: 229.44px;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      gap: 5px;

      .order_box_form_select {
        width: 300px;
        height: 38px;
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        margin: 7px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        align-items: center;

        option {
          background: rgba(39, 39, 51, 0.9);
          color: #FFFFFF;
          height: 48px;
        }
      }
      @media (max-width: 400px) {
        .order_box_form_select  {
          width: 295px;
        }
      }

      .order_box_form_input {
        width: 300px;
        height: 38px;
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        margin: 7px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        color: #272733;
      }
      @media (max-width: 400px) {
        .order_box_form_input  {
          width: 285px;
        }
      }

      .order_box_form_wrapperSecondLine {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
       flex-wrap: wrap;

        .order_box_form_input_rangeWrapper {
          width: 628px;
          max-height: 38px;
          margin-right: 10px;

          .order_box_form_input_range_text {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
          }

          .order_box_form_input_range {
            width: 100%;
            height: 13px;
          }
        }
        @media (max-width: 1000px) {
          .order_box_form_input_rangeWrapper  {
            margin-bottom: 20px;
          }
        }

        .order_box_form_span {
          position: relative;
          display: flex;
          cursor: pointer;
          outline: none;
          text-decoration: none;
          vertical-align: middle;
          color: black;
          text-align: center;
          padding: 10px 20px;
          box-sizing: border-box;
          transition: background-color 0.2s;
          width: 300px;
          height: 38px;
          background: rgba(255, 255, 255, 0.85);
          border: 1px solid #FFFFFF;
          border-radius: 3px;
          margin: 7px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          text-transform: uppercase;
          align-items: center;
        }
        @media (max-width: 400px) {
          .order_box_form_span  {
            width: 285px;
          }
        }

        .order_box_form_inputFile[type=file] {
          position: absolute;
          z-index: -1;
          opacity: 0;
          display: block;
          width: 0;
          height: 0;
        }
      }

      .order_box_form_submitBtn {
        width: 325px;
        height: 48px;
        margin-top: 30px;
        margin-bottom: 30px;
        background: #3E9CDC;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      @media (max-width: 400px) {
        .order_box_form_submitBtn  {
          width: 295px;
        }
      }
    }
  }


}